* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
  }
  .modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.2s;
    transform: translate3d(0, 100%, 0);
  }
  .modal-show {
    transform: translate3d(0, 0, 0);
  }
 