.spin-box{
    height: 100%;
    position: relative;
   .spin-loading{
       width: 100%;
       height: 100%;
       background-color: rgba(255,255,255,.5);
       position: absolute;
       left: 0;
       top: 0;
       .spin-inner-box{
        position: absolute;
        top: calc(50% - 1em);
        left: 50%;
        .spin-img{
            text-align: center;
        }
        .spin-text{
            text-align: center;
            color: #6DCAF8;
        }
       }
   }
    .spin-img-none{
        display: none;
    }
    .spin-text-none{
        display: none;
    }
}