.nav-content-logo{
    font-size: 0.75em;
    $logo-size:10em;
    $logo-content-size:100%;
    width: $logo-size;
    height: $logo-size;
    margin: 5em auto;
    transition: transform .3s ease-in;
    img{
        width:$logo-content-size;
        height:$logo-content-size;
        border-radius: 50%;
        outline: none;
    }
}