.message-box{
    $base-height:100vh;
    width: 100vw;
    height: $base-height;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    top: 0;
    .message-alert{
        width: 16em;
        min-height: 4em;
        margin: 0 auto;
        margin-top: calc($base-height / 2 - 7.5em);
        background-color: #fff;
        border-radius: 2%;
        position: relative;
        padding: 2em;
        transform: scale(0);
        transition: transform .2s ease-in-out;
        .message-title{
            font-size: 1.3em;
            font-weight: 600;
            margin-left: .8em;
            margin-top: .0625em;
        }
        .message-content{
            margin: 1em 0 0 2.3em;
            color: #666;
        }
        .message-btn-div{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            margin: 2em 0 0 5.5em;
            @mixin baseBtnStyle($bgColor,$btnColor:#fff,$border:""){
                width: 6em;
                height:3em;
                outline: none;
                background-color: $bgColor;
                @if $border{
                    border: $border solid 0.0625em;
                } @else {
                    border: none;
                }
                color: $btnColor;
                border-radius: 10%;
                cursor: pointer;
            }
            $confirmColor:#40A9FF;
            .message-button-confirm{
                @include baseBtnStyle($confirmColor, #fff, false)
            }
            .message-button-cancel{
                @include baseBtnStyle(#fff, #000,#ccc);
                &:hover{
                    color:$confirmColor;
                    border: 0.0625em solid $confirmColor;
                    transition: all .2s ease-in;
                }
            }
        }
    }
}