.about-me-div{
    $baseHeight:100vh;
    width: 100vw;
    height: $baseHeight;
    position: relative;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 999;
    .header-box{
        width: 100%;
        height: 4em;
        border-top: 0.0625em solid #ccc;
        border-bottom: 0.0625em solid #ccc;
        span{
            position: absolute;
            left: .5em;
            font-size: 1.5em;
            line-height: 2.5em;
        }
        .person-resume{
            width: 100%;
            font-size: 1.5em;
            display: inline-block;
            text-align: center;
            line-height: 2.5em;
        }
    }
    .about-content{
        height: calc($baseHeight - 4.375em);
        overflow-y: auto;
        margin-top: -1em;
        opacity: 0;
        $time:.5s;
        transition: margin-top $time,opacity $time ease-in;
        .about-content-inner{
            padding: 1em 1.5em 1.5em 1.5em;
            line-height: 1.7em;
            img{
                width: 100%;
            }        
        }
    }
}