    .nav-item-box{
        width: 100%;
        height: 3.125em;
        // background-color: #fafafa;
        margin-top: 6.5em;
        li{
            font-size: 1.125em;
            span{
                font-size: 1em;
                color: #A6A6A7;
            }
        }
    }