.copyright-box{
    width: 80%;
    height: 6em;
    border-top: 0.125em solid #ccc;
    margin: 0 auto;
    margin-top: 10em;
    .copyright-content{
        line-height: 2em;
        text-align: center;
    }
}