$layout-min-height:100vh;
.main-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    // width: 120em;
    // max-width: 100%;
    .main-nav{
        width: 12em;
        // max-width: 12em;
        // font-size: 0.5em;
        height: $layout-min-height;
        // max-width: 40%;
        background-color: #474D57;   
    }
    .main-title{
        // flex: 2;
        width: 30em;
        // max-width: 25%;
        // font-size: 1em;
        height: $layout-min-height;
        overflow-y: auto;
        background-color: green;
    }   
    .main-content{
        flex: 1;
        // width: 65%;
        // max-width: 65%;
        height: $layout-min-height;
        overflow-y: auto;
        background: yellow;
    }
}

@font-face {
    font-family: 'iconfont';
    src: url('../assets/font/iconfont.eot');
    src: url('../assets/font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/iconfont.woff2') format('woff2'),
        url('../assets/font/iconfont.woff') format('woff'),
        url('../assets/font/iconfont.ttf') format('truetype'),
        url('../assets/font/iconfont.svg#iconfont') format('svg');
  }
 :global{
    .iconfont {
        font-family: "iconfont" !important;
        font-size: 1em;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
} 
     


	
