$layout-min-height:100vh;
.main-content-box{
.main-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    .main-nav{
        // flex: 1;
        width: 12em;
        position: relative;
        height: $layout-min-height;
        background-color: #474D57;   
    }
    .main-title{
        // flex: 3;
        width: 28em;
        // min-width: 30%;
        height: $layout-min-height;
        overflow-y: auto;
        background-color: green;
    }   
    .main-content{
        flex: 1;  
        // width: 72em;
        // width: 60%;
        // min-width: 60%;
        height: $layout-min-height;
        overflow-y: auto;
        background: yellow;
    }
}
}

@font-face {
    font-family: 'iconfont';
    src: url('../assets/font/iconfont.eot');
    src: url('../assets/font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/iconfont.woff2') format('woff2'),
        url('../assets/font/iconfont.woff') format('woff'),
        url('../assets/font/iconfont.ttf') format('truetype'),
        url('../assets/font/iconfont.svg#iconfont') format('svg');
  }
 :global{
    .iconfont {
        font-family: "iconfont" !important;
        font-size: 1em;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
} 
     


	
